In [1]:
% load_ext autoreload

In [2]:
% autoreload 2

# Iqisa - A Library for Handling Forecasting Datasets

In [19]:
import numpy as np

from iqisa import gjp
import iqisa.iqisa as iqs

DATA_DIR = "<PATH_TO_THE_PROJECT>/data"  # set the path to the data directory in this project's root

market_fcasts_gjp = gjp.load_markets(data_dir=DATA_DIR)


def brier_score(probabilities, outcomes):
    return np.mean((probabilities - outcomes) ** 2)


def brier_score_user(user_forecasts):
    user_right = (user_forecasts['outcome'] == user_forecasts['answer_option'])
    probabilities = user_forecasts['probability']
    return np.mean((probabilities - user_right) ** 2)


trader_scores = iqs.score(market_fcasts_gjp, brier_score, on=['user_id'])
filtered_trader_scores = iqs.score(market_fcasts_gjp.groupby(['user_id']).filter(lambda x: len(x) > 100), brier_score, on=['user_id'])

In [20]:
trader_scores.mean()

score    0.159194
dtype: float64

In [21]:
filtered_trader_scores.mean()

score    0.159018
dtype: float64

## Good Judgement Project

In [22]:
market_fcasts_gjp = gjp.load_markets(data_dir=DATA_DIR)
market_fcasts_gjp

,question_id,user_id,team_id,probability,answer_option,timestamp,outcome,open_time,close_time,resolve_time,time_open,n_opts,options,q_status,q_type
0,1040.0,6203.0,0.0,0.4000,a,2012-06-16 08:24:55,a,2011-08-11,2012-06-29 00:00:00,2012-06-30,NaT,2,"(a) Yes, (b) No",resolved,0
1,1040.0,6203.0,0.0,0.4500,a,2012-06-16 08:24:55,a,2011-08-11,2012-06-29 00:00:00,2012-06-30,NaT,2,"(a) Yes, (b) No",resolved,0
2,1040.0,6203.0,0.0,0.4000,a,2012-06-16 08:24:55,a,2011-08-11,2012-06-29 00:00:00,2012-06-30,NaT,2,"(a) Yes, (b) No",resolved,0
3,1040.0,6585.0,0.0,0.4500,a,2012-06-16 08:48:22,a,2011-08-11,2012-06-29 00:00:00,2012-06-30,NaT,2,"(a) Yes, (b) No",resolved,0
4,1040.0,6585.0,0.0,0.4500,a,2012-06-16 08:48:22,a,2011-08-11,2012-06-29 00:00:00,2012-06-30,NaT,2,"(a) Yes, (b) No",resolved,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793496,1542.0,22183.0,9.0,0.0108,a,2015-08-06 10:38:00,b,2015-04-29,2015-09-06 23:59:00,2015-10-06,NaT,2,"(a) Yes, (b) No",resolved,0
793497,1542.0,21975.0,9.0,0.0160,a,2015-08-06 11:31:00,b,2015-04-29,2015-09-06 23:59:00,2015-10-06,NaT,2,"(a) Yes, (b) No",resolved,0
793498,1542.0,22127.0,11.0,0.0108,a,2015-09-06 05:58:00,b,2015-04-29,2015-09-06 23:59:00,2015-10-06,NaT,2,"(a) Yes, (b) No",resolved,0
793499,1542.0,21975.0,9.0,0.0049,a,2015-09-06 14:48:00,b,2015-04-29,2015-09-06 23:59:00,2015-10-06,NaT,2,"(a) Yes, (b) No",resolved,0
793500,1542.0,13854.0,28.0,0.0102,a,2015-09-06 15:09:00,b,2015-04-29,2015-09-06 23:59:00,2015-10-06,NaT,2,"(a) Yes, (b) No",resolved,0

In [45]:
market_fcasts_gjp.timestamp.min(), market_fcasts_gjp.timestamp.max()

(Timestamp('2012-01-07 00:27:50'), Timestamp('2015-12-05 22:35:00'))

In [29]:
surveys_gjp = gjp.load_surveys(data_dir=DATA_DIR)
surveys_gjp

,question_id,user_id,team_id,probability,answer_option,timestamp,outcome,open_time,close_time,resolve_time,time_open,n_opts,options,q_status,q_type
0,1004.0,600.0,NaN,0.100,a,2011-08-31 16:17:18,b,2011-01-09,2011-09-29 00:00:00,2011-09-30,NaT,2,"(a) Yes, (b) No",resolved,0
1,1004.0,600.0,NaN,0.900,b,2011-08-31 16:17:18,b,2011-01-09,2011-09-29 00:00:00,2011-09-30,NaT,2,"(a) Yes, (b) No",resolved,0
2,1004.0,2986.0,NaN,0.050,a,2011-08-31 16:24:09,b,2011-01-09,2011-09-29 00:00:00,2011-09-30,NaT,2,"(a) Yes, (b) No",resolved,0
3,1004.0,2986.0,NaN,0.950,b,2011-08-31 16:24:09,b,2011-01-09,2011-09-29 00:00:00,2011-09-30,NaT,2,"(a) Yes, (b) No",resolved,0
4,1004.0,3469.0,NaN,0.850,a,2011-08-31 16:25:24,b,2011-01-09,2011-09-29 00:00:00,2011-09-30,NaT,2,"(a) Yes, (b) No",resolved,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3143455,1481.0,130745.0,NaN,0.430,d,2014-12-28 14:20:07,d,2014-10-12,2014-12-14 09:00:00,2015-03-31,NaT,4,"(a) None, (b) One, (c) Two, (d) Three or more",resolved,6
3143456,1481.0,131234.0,NaN,0.005,a,2014-12-28 23:39:00,d,2014-10-12,2014-12-14 09:00:00,2015-03-31,NaT,4,"(a) None, (b) One, (c) Two, (d) Three or more",resolved,6
3143457,1481.0,131234.0,NaN,0.005,b,2014-12-28 23:39:00,d,2014-10-12,2014-12-14 09:00:00,2015-03-31,NaT,4,"(a) None, (b) One, (c) Two, (d) Three or more",resolved,6
3143458,1481.0,131234.0,NaN,0.050,c,2014-12-28 23:39:00,d,2014-10-12,2014-12-14 09:00:00,2015-03-31,NaT,4,"(a) None, (b) One, (c) Two, (d) Three or more",resolved,6
3143459,1481.0,131234.0,NaN,0.950,d,2014-12-28 23:39:00,d,2014-10-12,2014-12-14 09:00:00,2015-03-31,NaT,4,"(a) None, (b) One, (c) Two, (d) Three or more",resolved,6

In [30]:
surveys_gjp.timestamp.min(), surveys_gjp.timestamp.max()

(Timestamp('2011-08-31 16:17:18'), Timestamp('2015-06-09 23:53:26'))

In [35]:
questions_gjp = gjp.load_questions(data_dir=DATA_DIR)
questions_gjp

,question_id,q_type,q_title,q_desc,q_status,open_time,close_time,resolve_time,close_date,outcome,short_title,time_open,n_opts,options
0,1001.0,0,"Will the Six-Party talks (among the US, North ...",'In' refers to any time during the remainder o...,closed,2011-01-09,2011-12-30 00:00:00,2011-12-31,2012-02-01,b,Six-party talks resume,123 days,2,"(a) Yes, (b) No"
1,1002.0,0,Who will be inaugurated as President of Russia...,'In' refers to any time during the 2012 calend...,closed,2011-01-09,2012-05-14 00:00:00,2012-05-15,2012-06-05,b,president of Russia,248 days,3,"(a) Medvedev, (b) Putin, (c) Neither"
2,1003.0,0,Will Serbia be officially granted EU candidacy...,A 'yes' answer to this question requires not o...,closed,2011-01-09,2011-12-30 00:00:00,2011-12-31,2012-03-01,b,Serbia EU candidacy,124 days,2,"(a) Yes, (b) No"
3,1004.0,0,Will the United Nations General Assembly recog...,'By' means at or prior to the end of the day o...,closed,2011-01-09,2011-09-29 00:00:00,2011-09-30,2011-09-30,b,UN-GA recognize Palestine,29 days,2,"(a) Yes, (b) No"
4,1005.0,0,Will Daniel Ortega win another term as Preside...,If the Nicaraguan elections do not occur in la...,closed,2011-01-09,2011-04-11 00:00:00,2011-05-11,2011-05-11,a,Ortega win in Nicaragua,65 days,2,"(a) Yes, (b) No"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,5108.0,0,Will the Dow Jones Industrial Average daily cl...,Outcome will be determined based on reporting ...,voided,2014-07-28,NaT,2014-08-19,NaT,NaN,Dow Jones Closing Value,NaT,2,"(a) Yes, (b) No"
613,5109.0,0,Will Malaysia Airlines *officially file for ba...,Outcome will be determined by credible open so...,voided,2014-07-28,NaT,2014-08-20,NaT,NaN,Malaysia Airlines Bankruptcy,NaT,2,"(a) Yes, (b) No"
614,5110.0,6,How many games will the Boston Red Sox be out ...,The question will be resolved once the game is...,voided,2014-07-28,NaT,2014-08-19,NaT,NaN,Red Sox,NaT,4,"(a) 10 or more, (b) 9.5-7, (c) 6.5-4, (d) Less..."
615,6379.0,0,Will Yingluck Shinawatra vacate the office of ...,Yingluck Shinawatra will be considered to not ...,closed,2014-12-03,2014-04-30 09:00:00,2014-04-30,2014-04-30,b,Thailand: Shinawatra leaves office,49 days,2,"(a) Yes, (b) No"
616,6413.0,0,Will the Kurdistan Regional Government *hold a...,"Amidst a backdrop of violence in Iraq, Kurdish...",closed,2014-10-17,2015-09-06 09:00:00,2015-09-06,2015-09-06,b,Kurdistan Referendum,235 days,2,"(a) Yes, (b) No"

## Metaculus

In [25]:
from iqisa import metaculus

market_fcasts_metaculus = metaculus.load_public_binary(data_dir=DATA_DIR)
market_fcasts_metaculus

,question_id,user_id,team_id,probability,answer_option,timestamp,outcome,open_time,close_time,resolve_time,time_open,n_opts,options,q_status,q_type
0,1,0,0,0.690,1,2015-10-02 04:36:23.463465,0,2015-10-02 02:34:00+00:00,2015-12-15 03:34:00+00:00,2016-02-01 03:34:00+00:00,"74 days, 1:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0
1,1,0,0,0.750,1,2015-11-03 22:35:14.195666,0,2015-10-02 02:34:00+00:00,2015-12-15 03:34:00+00:00,2016-02-01 03:34:00+00:00,"74 days, 1:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0
2,1,0,0,0.750,1,2015-11-03 22:36:25.264527,0,2015-10-02 02:34:00+00:00,2015-12-15 03:34:00+00:00,2016-02-01 03:34:00+00:00,"74 days, 1:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0
3,1,0,0,0.750,1,2015-11-04 03:19:20.937501,0,2015-10-02 02:34:00+00:00,2015-12-15 03:34:00+00:00,2016-02-01 03:34:00+00:00,"74 days, 1:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0
4,1,0,0,0.750,1,2015-11-04 03:19:27.131253,0,2015-10-02 02:34:00+00:00,2015-12-15 03:34:00+00:00,2016-02-01 03:34:00+00:00,"74 days, 1:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217686,12095,0,0,0.800,1,2022-08-05 09:02:04.792614,None,2022-08-05 07:00:00+00:00,2027-01-01 00:00:00+00:00,2030-05-31 23:00:00+00:00,"1609 days, 17:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0
217687,12095,0,0,0.735,1,2022-08-05 09:13:05.602613,None,2022-08-05 07:00:00+00:00,2027-01-01 00:00:00+00:00,2030-05-31 23:00:00+00:00,"1609 days, 17:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0
217688,12095,0,0,0.740,1,2022-08-05 11:50:39.698901,None,2022-08-05 07:00:00+00:00,2027-01-01 00:00:00+00:00,2030-05-31 23:00:00+00:00,"1609 days, 17:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0
217689,12095,0,0,0.670,1,2022-08-05 18:58:50.818388,None,2022-08-05 07:00:00+00:00,2027-01-01 00:00:00+00:00,2030-05-31 23:00:00+00:00,"1609 days, 17:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0
217690,12095,0,0,0.670,1,2022-08-06 02:58:24.874832,None,2022-08-05 07:00:00+00:00,2027-01-01 00:00:00+00:00,2030-05-31 23:00:00+00:00,"1609 days, 17:00:00",2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0

In [41]:
market_fcasts_metaculus.timestamp.min(), market_fcasts_metaculus.timestamp.max()

(Timestamp('2015-10-02 04:36:23.463465'), Timestamp('2023-06-01 13:00:00'))

In [43]:
market_fcasts_metaculus.close_time.min(), market_fcasts_metaculus.close_time.max()

(Timestamp('2015-11-30 19:38:00+0000', tz='UTC'),
 Timestamp('2200-01-01 23:34:00+0000', tz='UTC'))

In [42]:
market_fcasts_metaculus.resolve_time.min(), market_fcasts_metaculus.resolve_time.max()

(Timestamp('2015-12-16 14:24:00+0000', tz='UTC'),
 Timestamp('2200-01-01 11:00:00+0000', tz='UTC'))

In [36]:
questions_metaculus = metaculus.load_questions(data_dir=DATA_DIR)
questions_metaculus

,question_id,q_title,q_status,open_time,close_time,resolve_time,outcome,time_open,n_opts,options
0,1,Will advanced LIGO announce discovery of gravi...,resolved,2015-10-02 02:34:00,2015-12-15 03:34:00,2016-02-01 03:34:00,0,"74 days, 1:00:00",2,"(0) No, (1) Yes"
1,2,Will SpaceX successfully land a Falcon 9 rocke...,resolved,2015-11-15 15:09:00,2016-01-30 20:30:00,2016-02-28 07:59:00,0,"76 days, 5:21:00",2,"(0) No, (1) Yes"
2,4,Will we confirm evidence for megastructures or...,resolved,2015-10-26 15:24:00,2016-02-01 20:00:00,2016-03-01 20:00:00,0,"98 days, 4:36:00",2,"(0) No, (1) Yes"
3,5,Will Lockheed Martin and Skunkworks announce a...,resolved,2016-01-04 15:27:00,2016-10-18 19:00:00,2019-04-23 00:34:00,0,"288 days, 3:33:00",2,"(0) No, (1) Yes"
4,6,The FAA to soon open the door to commercial us...,resolved,2015-12-06 15:29:00,2016-04-15 14:29:00,2016-06-16 17:40:04.092000,0,"130 days, 23:00:00",2,"(0) No, (1) Yes"
...,...,...,...,...,...,...,...,...,...,...
5772,11894,What will be the global total fertility rate i...,open,2022-07-18 05:00:00,2101-12-31 06:00:00,2102-01-01 06:00:00,NaN,"29020 days, 1:00:00",2,"(0) No, (1) Yes"
5773,11895,What will be the global total fertility rate i...,open,2022-07-18 05:00:00,2026-12-31 06:00:00,2027-01-01 06:00:00,NaN,"1627 days, 1:00:00",2,"(0) No, (1) Yes"
5774,11896,What will be the global total fertility rate i...,open,2022-07-18 05:00:00,2031-12-31 06:00:00,2032-01-01 06:00:00,NaN,"3453 days, 1:00:00",2,"(0) No, (1) Yes"
5775,11897,What will be the global total fertility rate i...,open,2022-07-18 05:00:00,2076-12-31 06:00:00,2077-01-01 06:00:00,NaN,"19890 days, 1:00:00",2,"(0) No, (1) Yes"
5776,11898,What will be the global total fertility rate i...,open,2022-07-18 05:00:00,2101-12-31 06:00:00,2102-01-01 06:00:00,NaN,"29020 days, 1:00:00",2,"(0) No, (1) Yes"

## PredictionBook

In [27]:
from iqisa import predictionbook

market_fcasts_predictionbook = predictionbook.load(data_dir=DATA_DIR)
market_fcasts_predictionbook

,question_id,user_id,team_id,probability,answer_option,timestamp,outcome,open_time,close_time,resolve_time,time_open,n_opts,options,q_status,q_type
0,1,Matt,0.0,0.80,1,2008-06-20 03:46:16+00:00,1.0,2008-06-20 03:46:16+00:00,2008-06-20 10:00:00+00:00,2008-08-14 02:28:40+00:00,0 days 06:13:44,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0.0
1,2,Frank,0.0,0.60,1,2008-06-20 04:37:13+00:00,0.0,2008-06-20 04:37:13+00:00,2008-06-23 10:00:00+00:00,2008-08-01 09:18:01+00:00,3 days 05:22:47,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0.0
2,3,Natalie,0.0,0.80,1,2008-06-20 04:38:35+00:00,0.0,2008-06-20 04:38:35+00:00,2008-06-30 10:00:00+00:00,2008-08-01 09:18:01+00:00,10 days 05:21:25,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0.0
3,4,Natalie,0.0,0.80,1,2008-06-20 04:40:06+00:00,0.0,2008-06-20 04:40:06+00:00,2008-06-19 10:00:00+00:00,2008-08-01 09:18:01+00:00,-1 days +05:19:54,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0.0
4,5,Adam,0.0,0.70,1,2008-06-20 05:08:31+00:00,1.0,2008-06-20 05:08:31+00:00,2008-06-20 04:08:31+00:00,2008-08-01 09:18:01+00:00,-1 days +23:00:00,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",resolved,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63587,208765,oakbound,0.0,0.50,1,2022-08-08 10:26:14+00:00,NaN,2022-08-08 10:26:14+00:00,2023-06-01 10:00:00+00:00,NaT,296 days 23:33:46,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0.0
63588,208769,skcdsjfdfs,0.0,0.80,1,2022-08-09 01:30:58+00:00,NaN,2022-08-09 01:30:58+00:00,2022-08-10 10:00:00+00:00,NaT,1 days 08:29:02,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0.0
63589,208775,Tapetum-Lucidum,0.0,0.09,1,2022-08-10 07:07:12+00:00,NaN,2022-08-10 07:07:12+00:00,2025-01-01 11:00:00+00:00,NaT,875 days 03:52:48,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0.0
63590,208782,oakbound,0.0,0.10,1,2022-08-11 14:30:49+00:00,NaN,2022-08-11 14:30:49+00:00,2031-01-01 11:00:00+00:00,NaT,3064 days 20:29:11,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0.0
63591,208782,chemotaxis101,0.0,0.15,1,2022-08-11 16:21:58+00:00,NaN,2022-08-11 14:30:49+00:00,2031-01-01 11:00:00+00:00,NaT,3064 days 20:29:11,2.0,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ...",open,0.0

In [44]:
market_fcasts_predictionbook.timestamp.min(), market_fcasts_predictionbook.timestamp.max()

(Timestamp('2008-06-20 03:46:16+0000', tz='UTC'),
 Timestamp('2022-08-11 16:21:58+0000', tz='UTC'))

In [40]:
questions_predictionbook = predictionbook.load_questions(data_dir=DATA_DIR)
questions_predictionbook

,question_id,q_title,q_status,open_time,close_time,resolve_time,outcome,time_open,n_opts,options
0,1,PredictionBook will have an Alpha server runni...,resolved,2008-06-20 03:46:16+00:00,2008-06-20 10:00:00+00:00,2008-08-14 02:28:40+00:00,1.0,0 days 06:13:44,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
1,2,ASX will finish above 5440,resolved,2008-06-20 04:37:13+00:00,2008-06-23 10:00:00+00:00,2008-08-01 09:18:01+00:00,0.0,3 days 05:22:47,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
2,3,Sype video will not work next time,resolved,2008-06-20 04:38:35+00:00,2008-06-30 10:00:00+00:00,2008-08-01 09:18:01+00:00,0.0,10 days 05:21:25,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
3,4,The epiode “11” of scrubs Series 7 we have jus...,resolved,2008-06-20 04:40:06+00:00,2008-06-19 10:00:00+00:00,2008-08-01 09:18:01+00:00,0.0,-1 days +05:19:54,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
4,5,We will have validation of result dates,resolved,2008-06-20 05:08:31+00:00,2008-06-20 04:08:31+00:00,2008-08-01 09:18:01+00:00,1.0,-1 days +23:00:00,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
...,...,...,...,...,...,...,...,...,...,...
18665,208764,[The price per square meter for apartments in ...,open,2022-08-08 10:26:14+00:00,2023-06-01 10:00:00+00:00,NaN,NaN,296 days 23:33:46,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
18666,208765,[The price per square meter for apartments in ...,open,2022-08-08 10:26:14+00:00,2023-06-01 10:00:00+00:00,NaN,NaN,296 days 23:33:46,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
18667,208769,Gas prices go up in one week,open,2022-08-09 01:30:58+00:00,2022-08-10 10:00:00+00:00,NaN,NaN,1 days 08:29:02,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
18668,208775,Donald Trump is indicted as a result of the do...,open,2022-08-10 07:07:12+00:00,2025-01-01 11:00:00+00:00,NaN,NaN,875 days 03:52:48,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."
18669,208782,A human has set foot on Mars,open,2022-08-11 14:30:49+00:00,2031-01-01 11:00:00+00:00,NaN,NaN,3064 days 20:29:11,2,"(0) No, (1) Yes, (-1) Ambiguous, (None) Still ..."